
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
    background-size: cover;
    font-family: 'Courier New', monospace;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

button { 
    background:none; 
    border:none; 
    font-family: 'Courier New', monospace; 
    display:block;
    color:rgb(185, 185, 185);
    font-size: 250%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin-left: 2vw;
    margin-top: 2vw;
    width: fit-content;
    transition: 0.3s;
}

button:hover {
    color:rgb(39, 39, 39);
    background-color: rgb(185, 185, 185);
}

.txt {

    color:rgb(185, 185, 185);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
    white-space:normal;
    /* width: fit-content; */

}

.center {
    color:rgb(185, 185, 185);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin: auto;
    width: 50%;
    white-space:normal;
    /* width: fit-content; */
}

.img {

    padding-left: 7.5vw;
    padding-right: 7.5vw;

    width: 35vw;
    height: auto;

    /* border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw; */

}

.type-out {
    margin-left: 2vw;
    margin-top: 2vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    overflow: hidden;
    border-right: .15em solid rgb(185, 185, 185);
    font-size: 300%;
    color:rgb(185, 185, 185);
    width: 0vw;

    animation: 
        typing 1s steps(10, end) forwards 0.85s,
        blink 0.8s infinite
}

.container {
    display: inline-block;
}

@keyframes typing {
    from { width: 0% }
    to { width: 95% }
}

@keyframes blink {
    0% { border-color: transparent; }
    20% { border-color: rgb(185, 185, 185); }
    80% { border-color: rgb(185, 185, 185); }
    100% { border-color: transparent; }
}

.line_container {

    background-color: rgb(39, 39, 39);

    margin-top: 2vh;
    overflow: hidden;
    border-bottom: .15em solid rgb(185, 185, 185);
    height: 0;
    white-space: nowrap;

    transition-timing-function: ease-out;

}

.home_button {

    display:block;

    color:rgb(185, 185, 185);
    background-color: transparent;
    font-size: 2.5vw;
    
    position:absolute;

    top: 0vh;
    right: 2vw;
    
    width: fit-content;

    transition-duration: 0.3s;
    transition: 0.3s;
    transition-property: all;

    opacity: 0;

}

.return_to_top {

    display: block;
    
    position:fixed;

    bottom: 2vh;
    right: 1vw;

    width: 3vw;
    height: auto;

    transition-duration: 0.3s;
    transition: 0.3s;
    transition-property: all;

    opacity: 0;

}

.return_to_top:hover {
    width: 5vw;
    height: auto;
}