html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
    background-size: cover;
    font-family: 'Consolas', monospace;
    color: #ffffff;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* overflow: hidden;  */
}

::-webkit-scrollbar {
    display: none;
}

#header {
    position: absolute;
    top: 0;
    width: 40vw;
    /* background-color: #1b1b1b; */
    color: white;
    text-align: left;
    padding: 2vw 2vw;
    font-size: 2vw;
    margin: 0;
    z-index: 1; /* Ensure the header stays above the GIF */
}

/* Video Header Styles */
#videoHeader {
    /* Removed fixed positioning and z-index to allow natural flow */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Adjust height as needed */
    object-fit: cover;
    margin: 0;
    padding: 0;
    /* z-index: -1; */ /* Removed to prevent background layering */
}

/* Hide the container by default */
.hidden {
    display: none;
}

/* About Me Section Styles */
#about-me {
    text-align: center;
    padding: 2vh 2vw;
    background-color: transparent; /* Make background transparent */
    color: #ffffff;
    margin-top: 2vh; /* Space above the About Me section */
}

#about-me h1 {
    font-size: 2vw;
    margin-bottom: 1vh;
}

#about-me p {
    font-size: 1.2vw;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

/* Projects Section Styles */
#projects {
    text-align: center;
    padding: 2vh 2vw;
    background-color: transparent;
    color: #ffffff;
    margin-top: 2vh;
}

#projects h1 {
    font-size: 2vw;
    margin-bottom: 1vh;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
    
    padding: 1vw;
    background-color: rgb(40, 40, 40);
    border-radius: 1vw;
}

.project h2 {
    font-size: 1.5vw;
    margin-right: 1vw;
}

.project p {
    font-size: 1vw;
    max-width: 600px;
    line-height: 1.5;
}

.profileLink {

    background-color: rgb(80, 80, 80);
    color: #ffffff;
    font-size: larger;
    text-decoration: none;
    border-radius: 1vw;

    padding: 0%;
    margin: 0%;


    width: 15vw;
}

.profileLink:hover {

    color: inherit;
    text-decoration: none;

}