
body {
    background-color: rgb(39, 39, 39);
    background-size: cover;
    font-family: 'Courier New', monospace;
}

a {
    text-decoration: none;
}

button { 
    background:none; 
    border:none; 
    font-family: 'Courier New', monospace; 
    display:block;
    color:rgb(185, 185, 185);
    font-size: 250%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin-left: 2vw;
    margin-top: 2vw;
    width: fit-content;
}

.type-out {
    margin-left: 2vw;
    margin-top: 2vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    overflow: hidden;
    border-right: .15em solid lightskyblue;
    font-size: 300%;
    color:rgb(185, 185, 185);
    width: 0vw;

    animation: 
        typing 1s steps(12, end) forwards 0.85s,
        blink 0.8s infinite
}

.type-out-1 {
    margin-left: 2vw;
    margin-top: 2vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    overflow: hidden;
    border-right: .15em solid lightskyblue;
    font-size: 300%;
    color:rgb(185, 185, 185);
    width: 0vw;
    animation: 
        typing 2s steps(21, end) forwards 0.85s,
        blink 0.8s infinite
}

.container {
    display: inline-block;
}

@keyframes typing {
    from { width: 0% }
    to { width: 95% }
}

@keyframes blink {
    0% { border-color: transparent; }
    20% { border-color: lightskyblue; }
    80% { border-color: lightskyblue; }
    100% { border-color: transparent; }
}

.line_container {

    margin-top: 2vh;
    overflow: hidden;
    border-bottom: .15em solid lightskyblue;
    height: 0;
    white-space: nowrap;
    animation: 
        show 1.5s ease-in-out forwards 0.5s;
    
}

@keyframes show {
    from { height: 0; }
    to { height: 95vh; }
}

@keyframes hide {
    from { height: 95vh; }
    to { height: 0; }
}

.highlight-wen-hover {

    display:block;

    color:rgb(185, 185, 185);
    font-size: 250%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin-left: 2vw;
    width: fit-content;

}

.highlight-wen-hover:hover {
    animation:
        HL 0.3s forwards;
}

.highlight-wen-hover:not(:hover) {
    animation:
        HLb 0.3s backwards;
}

@keyframes HL {
    from{ 
        background-color: rgb(39, 39, 39); 
        color:rgb(185, 185, 185); 
    }

    to{ 
        background-color: lightskyblue; 
        color:rgb(39, 39, 39); 
    }
}

@keyframes HLb {
    from{ 
        background-color: lightskyblue; 
        color:rgb(39, 39, 39); 
    }

    to{ 
        background-color: rgb(39, 39, 39); 
        color:rgb(185, 185, 185); 
    }
}

.home_button {

    display:block;

    color:rgb(185, 185, 185);
    font-size: 250%;
    
    position:relative;

    top: -8vh;
    right: -90vw;
    
    width: fit-content;

}

.home_button:hover {
    animation:
        HL 0.3s forwards;
}

.home_button:not(:hover) {
    animation:
        HLb 0.3s backwards;
}

.txt {

    display:block;

    color:rgb(185, 185, 185);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin-left: 2vw;
    width: fit-content;

}